<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Registration Form</h1>
<a href="/create_data">reg</a>
        <div>
            <ul>
                <% for( let i of teacher_list) { %>
                <li class="o">
                    <div>
                    <p><%= i.name%></p>
                    <p><%=i.qualification%></p>
                    <p><%=i.intro%></p>
                    <p><%=i.location%></p>
                    <p><%=i.contact%></p>
                    <p><%=i.email%></p>
                     </div>

                    <div>
                        <a href="/deleted/delete_data/?id=<%= i._id %>"> delete</a>
                    </div>
                </li>
                <%}%>    
            </ul>
        </div>

        <form action="/created/create_data" method="POST">
            <label for="email"><b>Name</b></label>
            <input type="text" name='name'  placeholder="name" required>

            <label for="email"><b>Qualification</b></label>
            <input type="text" name='qualification' placeholder="qualification" required>

            <label for="email"><b>Introduction</b></label>
            <input type="text" name='intro' placeholder="introduction" required>

            <label for="email"><b>location</b></label>
            <input type="text" name='location' placeholder="location" required>

            <label for="email"><b>Contact</b></label>
            <input type="number" name="contact" placeholder="contact" required>

            <label for="email"><b>Email</b></label>
            <input type="text" name='email' placeholder="email" required>

            <button type="submit">register</button> 

        </form>
        


</body>
</html>